body{
    margin:0px;
    padding:0px;
}
.container{
    height:100vh;
    background-color: hsl(212, 45%, 89%);
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius:15px;
    padding:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    width: 300px;
}
.card > img{
    border-radius: 15px;
    width: 280px;
}
.card > h1{
    color: black;
    font-size: 22px;
    text-align:center;
    margin-bottom: 0;
    padding: 0px 7px;
    font-weight: 700;
}
.card > p{
    color: gray;
    font-size: 15px;
    padding: 0px 15px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}